.marvinChatSendMessageContainer,
.marvinChatReceivedMessageContainer {
    min-width: 100px;
    max-width: 90%;
    margin: 8px auto;
    clear: both;
}

.marvinChatSendMessageContainer {
    margin-right: 0;
}

.marvinChatReceivedMessageContainer {
    margin-left: 0;
}

.marvinChatFile,
.marvinChatFileOver,
.marvinChatFileSelected {
    border: 1px solid #00F;
    color: #00F;
    padding: 2px 6px;
    font-size: 9px;
    line-height: 10px;
    margin: 2px 4px;
    display: inline-block;
    border-radius: 8px;
}

.marvinChatFile {
    background: #EEF;
}

.marvinChatFileOver {
    background: #DDF;
}

.marvinChatFileSelected {
    background: #CCF;
}

.marvinChatFile a {
    color: inherit;
    text-decoration: none;
}

.marvinChatSendMessageContainer .marvinChatMessageArrow {
    width: 20px;
    height: 15px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 0,15, 20,0' fill='%23d8fdd2' /%3E%3C/svg%3E");
    float: right;
}

.marvinChatReceivedMessageContainer .marvinChatMessageArrow {
    width: 20px;
    height: 15px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 20,0, 20,15' fill='%23FFFFFF'/%3E%3C/svg%3E");
    float: left;
}

.marvinChatSystemMessageContainer .marvinChatMessage {
    border-radius: 5px;
}

.marvinChatSendMessageContainer .marvinChatMessage {
    border-radius: 5px 0 5px 5px;
}

.marvinChatReceivedMessageContainer .marvinChatMessage {
    border-radius: 0 5px 5px 5px;
}

.marvinChatMessage {
    padding: 0 1em;
    overflow: auto;
}

.marvinChatMessage p {
    margin: 1em 0;
}

.marvinChatMessage table {
    font-size: inherit;
}

.marvinChatAiMessageContainer {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 .5em;
}

.marvinChatAiMessage {
    margin: .5em 0;
    padding: 0 .5em;
    width: 100%;
    border-right: 1px solid #AAA;
    overflow-x: hidden;
}

.marvinChatAiMessage:last-child {
    border-right: 0 none;
}

.marvinChatMessageStatus {
    font-size: .8em;
    text-align: right;
    margin: 0 0 .5em;
    color: #AAA;
    cursor: default;
}

.marvinChatAiMessage .marvinChatMessageStatus {
    margin: .5em 0 0;
}

.marvinChatAiMessageModel {
    color: #AAA;
    font-size: .8em;
    margin-top: 0;
}

.marvinChatAiMessageSpacer {
    overflow-x: auto;
}

.marvinChatSystemMessageContainer .marvinChatMessage {
    background: #DDD;
    margin: 8px 20px;
}

.marvinChatSendMessageContainer .marvinChatMessage {
    background: #d8fdd2;
}

.marvinChatReceivedMessageContainer .marvinChatMessage {
    background: #FFF;
}

.marvinChatAiMessageLoading,
.marvinChatAiMessageMinimize,
.marvinChatAiMessageMaximize {
    float: right;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.marvinChatAiMessageLoading {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23AAAAAA' d='M272 112C272 85.5 293.5 64 320 64C346.5 64 368 85.5 368 112C368 138.5 346.5 160 320 160C293.5 160 272 138.5 272 112zM272 528C272 501.5 293.5 480 320 480C346.5 480 368 501.5 368 528C368 554.5 346.5 576 320 576C293.5 576 272 554.5 272 528zM112 272C138.5 272 160 293.5 160 320C160 346.5 138.5 368 112 368C85.5 368 64 346.5 64 320C64 293.5 85.5 272 112 272zM480 320C480 293.5 501.5 272 528 272C554.5 272 576 293.5 576 320C576 346.5 554.5 368 528 368C501.5 368 480 346.5 480 320zM139 433.1C157.8 414.3 188.1 414.3 206.9 433.1C225.7 451.9 225.7 482.2 206.9 501C188.1 519.8 157.8 519.8 139 501C120.2 482.2 120.2 451.9 139 433.1zM139 139C157.8 120.2 188.1 120.2 206.9 139C225.7 157.8 225.7 188.1 206.9 206.9C188.1 225.7 157.8 225.7 139 206.9C120.2 188.1 120.2 157.8 139 139zM501 433.1C519.8 451.9 519.8 482.2 501 501C482.2 519.8 451.9 519.8 433.1 501C414.3 482.2 414.3 451.9 433.1 433.1C451.9 414.3 482.2 414.3 501 433.1z'/%3E%3C/svg%3E");
    cursor: default;
}

.marvinChatAiMessageMinimize {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23AAAAAA' d='M520 288L376 288C362.7 288 352 277.3 352 264L352 120C352 110.3 357.8 101.5 366.8 97.8C375.8 94.1 386.1 96.2 393 103L433 143L506.4 69.6C510 66 514.9 64 520 64C525.1 64 530 66 533.7 69.7L570.4 106.4C574 110 576 114.9 576 120C576 125.1 574 130 570.3 133.7L497 207L537 247C543.9 253.9 545.9 264.2 542.2 273.2C538.5 282.2 529.7 288 520 288zM520 352C529.7 352 538.5 357.8 542.2 366.8C545.9 375.8 543.9 386.1 537 393L497 433L570.4 506.4C574 510 576.1 514.9 576.1 520.1C576.1 525.3 574.1 530.1 570.4 533.8L533.7 570.5C530 574 525.1 576 520 576C514.9 576 510 574 506.3 570.3L433 497L393 537C386.1 543.9 375.8 545.9 366.8 542.2C357.8 538.5 352 529.7 352 520L352 376C352 362.7 362.7 352 376 352L520 352zM264 352C277.3 352 288 362.7 288 376L288 520C288 529.7 282.2 538.5 273.2 542.2C264.2 545.9 253.9 543.9 247 537L207 497L133.6 570.4C130 574 125.1 576 120 576C114.9 576 110 574 106.3 570.3L69.7 533.7C66 530 64 525.1 64 520C64 514.9 66 510 69.7 506.3L143 433L103 393C96.1 386.1 94.1 375.8 97.8 366.8C101.5 357.8 110.3 352 120 352L264 352zM120 288C110.3 288 101.5 282.2 97.8 273.2C94.1 264.2 96.2 253.9 103 247L143 207L69.7 133.7C66 130 64 125.1 64 120C64 114.9 66 110 69.7 106.3L106.3 69.7C110 66 114.9 64 120 64C125.1 64 130 66 133.7 69.7L207 143L247 103C253.9 96.1 264.2 94.1 273.2 97.8C282.2 101.5 288 110.3 288 120L288 264C288 277.3 277.3 288 264 288L120 288z'/%3E%3C/svg%3E");
    display: none;
}

.marvinChatAiMessageMaximize {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23AAAAAA' d='M264 96L120 96C106.7 96 96 106.7 96 120L96 264C96 273.7 101.8 282.5 110.8 286.2C119.8 289.9 130.1 287.8 137 281L177 241L256 320L177 399L137 359C130.1 352.1 119.8 350.1 110.8 353.8C101.8 357.5 96 366.3 96 376L96 520C96 533.3 106.7 544 120 544L264 544C273.7 544 282.5 538.2 286.2 529.2C289.9 520.2 287.9 509.9 281 503L241 463L320 384L399 463L359 503C352.1 509.9 350.1 520.2 353.8 529.2C357.5 538.2 366.3 544 376 544L520 544C533.3 544 544 533.3 544 520L544 376C544 366.3 538.2 357.5 529.2 353.8C520.2 350.1 509.9 352.1 503 359L463 399L384 320L463 241L503 281C509.9 287.9 520.2 289.9 529.2 286.2C538.2 282.5 544 273.7 544 264L544 120C544 106.7 533.3 96 520 96L376 96C366.3 96 357.5 101.8 353.8 110.8C350.1 119.8 352.2 130.1 359 137L399 177L320 256L241 177L281 137C287.9 130.1 289.9 119.8 286.2 110.8C282.5 101.8 273.7 96 264 96z'/%3E%3C/svg%3E");
}

.marvinChatAiMessageRuntime {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23AAAAAA' d='M128 96C128 78.3 142.3 64 160 64L480 64C497.7 64 512 78.3 512 96C512 113.7 497.7 128 480 128L480 139C480 181.4 463.1 222.1 433.1 252.1L365.2 320L433.1 387.9C463.1 417.9 480 458.6 480 501L480 512C497.7 512 512 526.3 512 544C512 561.7 497.7 576 480 576L160 576C142.3 576 128 561.7 128 544C128 526.3 142.3 512 160 512L160 501C160 458.6 176.9 417.9 206.9 387.9L274.8 320L206.9 252.1C176.9 222.1 160 181.4 160 139L160 128C142.3 128 128 113.7 128 96zM224 128L224 139C224 164.5 234.1 188.9 252.1 206.9L320 274.8L387.9 206.9C405.9 188.9 416 164.5 416 139L416 128L224 128zM224 512L416 512L416 501C416 475.5 405.9 451.1 387.9 433.1L320 365.2L252.1 433.1C234.1 451.1 224 475.5 224 501L224 512z'/%3E%3C/svg%3E");
}

